:root {
    --transition-duration: 250ms;
}

.bannerStyle {
    min-height: 320px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.bannerStyle > * {
    transition: width var(--transition-duration) ease-out, left var(--transition-duration) ease-out, filter var(--transition-duration) ease-in-out;
    z-index: 1;
    position: absolute;
}

.bannerPreview {
    filter: brightness(20%);
    height: 100%;
    width: 50%;
    left: 0;
    top: 0;
}

.backgroundPreview {
    height: 100%;
    width: 50%;
    left: 50%;
    top: 0;
    filter: brightness(100%);
}

.textArea {
    position: relative;
    height: 100%;
    width: 50%;
    padding: 0 1em 0.5em 1em;
    transition: opacity var(--transition-duration);
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.textArea > *:last-child {
    flex-grow: 1;
}

.textArea hr {
    text-align: left;
    margin-left: 0;
    width: 4em;
}

@media (width <= 1440px) {
    .bannerPreview {
        width: 0%;
    }
    .backgroundPreview {
        width: 100%;
        left: 0;
        filter: brightness(20%);
    }
    .textArea {
        width: 100%;
    }
    .bannerStyle:hover .backgroundPreview {
        filter: brightness(100%);
    }
}

.bannerStyle:hover .bannerPreview {
    width: 0;
}
.bannerStyle:hover .textArea {
    opacity: 0;
}
.bannerStyle:hover .backgroundPreview {
    width: 100%;
    left: 0;
}
