.mediaSelectorButtons {
    width: 100%;
    display: flex;
    align-items: stretch;
    max-width: 320px;
}

.mediaSelectorButtons > * {
    width: calc(100% / 3);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    min-width: initial;
}
