.headerBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.headerBar > * {
    margin-left: 1em;
    margin-right: 1em;
    flex-shrink: 0;
}

.headerBar > *:first-child {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
    padding-right: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.headerBar > *:nth-child(n + 2) {
    margin-top: 0.3em;
}
